.navbar-container{
    background-color: #faffc4;
    font-size: 25px;
    padding: 5px 5px;
}

div.navbar-container a{
    text-decoration: none;
}
/* a{ */
    /* text-decoration: none; */
/* } */

div.main div{
    color: rgb(195, 0, 255);
}

/* .main2{ */
    /* color: brown; */
/* } */

.name{
    color: chartreuse;
    vaishali
}
div.main div{
    color: chartreuse;
    background-color:rgb(195, 0, 255);
    width: 250px;
    height: 30px;
}
.name{
    color: crimson;
     font-family: Ariyal;
     cursor: progress;

}