.temp-form-container{
    background-color: #6f42c1a3;
    border: 2px solid #343740;
    width: 380px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 10px;
    padding: 5px 5px;

}
input:focus{
    background-color: rgb(135, 222, 183);
    width: 250;
}
input{
    width: 250;
}
.sbt-btn{
    border: none;
    border-radius: 20px;
    background-color: blue;
    color: white;
    padding: 4px 15px;
}
.error{
    color: red;
    font-size: 20px;
}
.for-pass{
    color: black;
    font-size: 20px;
    
}