.main{
    background-color: #9e9e9e;
    height: 694px;
    width: 90rem;
    // background-image: url('/assets/Images/nature.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
}
.title-section{
    margin: auto;
    text-align: center;
}
.city-section{
font-size: 20px;
font-family:'courier New';
color: crimson;
}

.nav{
    background-color:#e91e63;
}