
.main{
    background-color: darkblue;
background-image: url('~src/assets/image/landing image.avif');
    background-size: cover;
   background-repeat: no-repeat;
    width: 650px;
    height: 288px;
}
.color{
    color:white;
    background-color: black;

}