.err{
     color: red
}

.mob-inp{
     width: 30px;
}

.p-viewer {
     position: relative;
     left: -24px;
     font-size: 20px;
     
 } 
 
 .container{
     background-color: rgb(255, 213, 47);
     margin: auto;
     border: 1px solid black;
     width: 400px;
     margin-top: 20px;
 }
 