.formAlinment{
    background-color: var(--mdc-filled-text-field-disabled-label-text-c);
    background-size: cover;
    background-repeat: no-repeat;
     width: 250px;
     height: 1000    

}




.backImage{
  
    background-image: url('~src/assets/image/sig-up image.webp');
    background-size: cover;
   background-repeat: no-repeat;
    width: 800px;
    height: 1000    
}
